#display {
  width: 350px;
  height: 100px;
  margin-left: 40px;
}
#keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 300px;
  padding: 25px;
}

button {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  border: none;
  font-size: 40px;
  background-color: hsl(0, 0%, 30%);
  color: whitesmoke;
}
#keys:first-child {
  background-color: green;
}
